@import "../variables";

.fixed-root {
  position: fixed;
  bottom: 20px;
  right: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  .fixed-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin: 8px 0;
  }
  // .scroll-to-top {
  //   position: fixed;
  //   right: 16px;
  //   bottom: 8px;
  // }

  .phone-admin {
    padding: 8px 16px;
    border-radius: 4px;
    color: $baseColor;
    font-size: 16px;
    font-weight: 700;
    border: solid 1px #17e17c;
  }
  
  .zalo-admin {
    padding: 4px 8px;
    border-radius: 4px;
    color: $baseColor;
    font-size: 16px;
    font-weight: 700;
    animation: 1.2s ease-in-out 0s normal none infinite running;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    > img {
      height: 50px;
      width: 50px;
    }
  }
  
}


@-webkit-keyframes myFixed {
  0% { color: #4caf50; }
  50% { color: #17e17c; }
  100% { color: red; }
}
@-moz-keyframes myFixed { 
  0% { color: #4caf50;  }
  50% { color: #17e17c; }
  100% { color: red; }
}
@-o-keyframes myFixed { 
  0% { color: #4caf50;  }
  50% { color: #17e17c; }
  100% { color: red; }
}
@keyframes myFixed { 
  0% { color: #4caf50;  }
  50% { color: #17e17c; }
  100% { color: red; }
}

.fixed-contact {
  font-size: 14px;
  font-weight:bold;
  -webkit-animation: myFixed 2s infinite;
  -moz-animation: myFixed 2s infinite; 
  -o-animation: myFixed 2s infinite; 
  animation: myFixed 2s infinite;
}
