@import "../variables";

.header-home-root {
  width: 100%;
  position: relative;
  .header-container {
      display: flex;
      align-items: center;
      position: sticky;
      background-color: #fff;
      height: 50px;
      top: 0;
      left: 0;
      right: 0;
      >a {
          padding: 8px 20px !important;
          font-weight: 700 !important;
      }
  }
  .image-home {
      width: 100%;
      height: 500px;
      object-fit: cover;
      @include breakpoint(smDown) {
          height: 300px;
      }
  }
}
