@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.data-client-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .item-inner {
    width: 100%;
    color: #000;
    margin: 4px 0;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
